.carRaceBlock {
  position: relative;
  border-block: 40px solid rgb(60, 107, 210);
  padding-block: 10px;
  background-image: linear-gradient(90deg, #4343 0%, rgba(0, 0, 0, 0.4) 100%);
}

.mainControlsBlock {
  display: grid;
  grid-template-columns: 2fr 8fr;
  margin-bottom: 30px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
}