.container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.logo {
    img {
        @media (max-width: 740px) {
            width: 300px;
        }
    }
}

a {
  text-decoration: none;
}
