.container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1150px) {
      flex-direction: column;
      width: 310px;
      row-gap: 5px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.inputText, .disabledInput {
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
}

.inputColor, .disabledColorInput {
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0;
    background-color: transparent;
}

.disabledInput {
    pointer-events: none;
    opacity: 0.6;
}

.disabledColorInput {
    pointer-events: none;
    opacity: 0.6;
}