.startLine {
    position: absolute;
    left: 260px;
    top: 72px;
    height: 81%;
    width: 15px;
    z-index: 555;
    background-color: white;
}
.finishLine {
    position: absolute;
    right: 0;
    top: 72px;
    height: 81%;
    width: 15px;
    background-color: white;
    z-index: 555;
}