.container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    .item {
        text-align: left;
        width: 100%;

        &:nth-last-of-type(1){
            text-align: center;
        }
        &:nth-last-of-type(2) {
            padding-left: 8%;
        }
        &:nth-last-of-type(3) {
            padding-left: 8%;
        }
    }
}